body {
    font-family: "Quicksand", Arial sans-serif;
    background-image: url("../images/forest-background-compressed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #061a2b;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.weather-container {
    margin: 30px auto;
    padding: 10px 40px 24px;
    max-width: 900px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    opacity: 0.96;
    border-radius: 24px;
    border: none;
}

.header-image {
    width: 90px;
    height: 90px;
}

.header-title {
    display: inline;
    font-size: 36px;
    position: absolute;
    top: 68px;
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.header-btn-1,
.header-btn-2,
.header-btn-3 {
    border: 1px solid #061a2b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 16px;
    margin: 4px;
    transition: all 300ms ease-in-out;
}

.header-btn-1 {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.header-btn-1:hover {
    transform: scale(1.25);
}

.header-btn-2 {
    background: linear-gradient(185deg, rgba(222, 224, 228, 1) 0%, rgba(142, 215, 165, 1) 50%, rgba(255, 173, 57, 1) 100%);
}

.header-btn-2:hover {
    transform: scale(1.25);
}

.header-btn-3 {
    background: linear-gradient(210deg, rgba(222, 228, 228, 1) 0%, rgba(215, 142, 196, 1) 50%, rgba(211, 255, 57, 1) 100%);
}

.header-btn-3:hover {
    transform: scale(1.25);
}

.search-field {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.search-field:focus {
    outline: none;
}

.search-icon,
.location-icon {
    max-width: 90px;
    max-height: 90px;
}

.search-button,
.location-button {
    border: none;
    margin-left: 10px;
    padding: 0;
    background: transparent;
}

.current-location {
    margin-left: 20px;
}

.current-location__title {
    font-weight: 600;
    font-size: 36px;
}

.current-location__date,
.current-location__time {
    font-size: 20px;
    line-height: 24px;
}

.current-temperature {
    display: flex;
}

.current-temperature__image {
    width: 156px;
    height: 156px;
}

.current-temperature__icon-container {
    flex-grow: 1.25;
    text-align: center;
}

.current-temperature__content-container {
    flex-grow: 1;
    text-align: center;
}

.current-temperature__value {
    font-weight: 300;
    font-size: 78px;
}

.current-temperature__units {
    font-size: 24px;
    font-weight: 500;
    vertical-align: 120%;
    margin-left: 10px;
}

.current-temperature__units .active {
    color: #061a2b;
    cursor: default;
}

.current-temperature__degrees {
    color: #c15075;
    text-decoration: none;
}

.current-temperature__summary {
    margin-top: -8pxm;
    margin-left: -10px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.current-stats {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #061a2b;
    text-align: center;
    margin-top: 12px;
}

.current-stats__value {
    font-weight: 500;
    font-size: 24px;
}

.current-stats__label {
    margin: 5px;
    color: #061a2b;
    font-size: 20px;
}

.next-6-days {
    margin-top: 30px;
    margin-bottom: 10px;
}

.next-6-days__title {
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.next-6-days__container {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.next-6-days__blocks {
    padding: 14px 0;
    width: 13%;
    border-radius: 5px;
    background-color: rgb(153, 179, 201, 0.35);
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.37);
}

.next-6-days__image {
    width: 54px;
    height: 54px;
}

.next-6-days__day,
.next-6-days__day-temp {
    font-size: 20px;
}

.next-6-days__night-temp {
    color: #c15075;
}

.who-codes {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.github-link {
    color: #c15075;
    text-decoration: none;
}

.github-link:hover {
    color: #061a2b;
    text-decoration: underline;
}