body {
    font-family: "Quicksand", Arial sans-serif;
    background-image: url("../images/forest-background-compressed.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #061a2b;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.weather-container {
    margin: 30px auto;
    padding: 40px;
    width: 900px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: #d8edf1;
    opacity: 0.95;
    border-radius: 24px;
    border: 1px solid #fff;
}

.search-field {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.search-field:focus {
    outline: none;
}

.search-icon,
.location-icon {
    max-width: 90px;
    max-height: 90px;
}

.search-button,
.location-button {
    border: none;
    margin-left: 10px;
    padding: 0;
    background: transparent;
}

.current-location {
    margin-left: 20px;
}

.current-location__title {
    font-weight: 600;
    font-size: 36px;
}

.current-location__date,
.current-location__time {
    font-size: 20px;
    line-height: 24px;
}

.current-temperature {
    display: flex;
}

.current-temperature__image {
    width: 168px;
}

.current-temperature__icon-container {
    flex-grow: 1.25;
    text-align: center;
}

.current-temperature__content-container {
    flex-grow: 1;
    text-align: center;
}

.current-temperature__value {
    font-weight: 300;
    font-size: 84px;
}

.current-temperature__units {
    font-size: 24px;
    vertical-align: 120%;
    margin-left: 10px;
}

.current-temperature__degrees {
    color: #8a797d;
    text-decoration: none;
}

.current-temperature__degrees:hover {
    color: #061a2b;
}

.current-temperature__summary {
    margin-top: -8pxm;
    margin-left: -10px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
}

.current-stats {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #061a2b;
    text-align: center;
    margin-top: 12px;
}

.current-stats__value {
    font-weight: 500;
    font-size: 24px;
}

.current-stats__label {
    margin: 5px;
    color: #061a2b;
    font-size: 20px;
}

.next-6-days {
    margin-top: 30px;
    margin-bottom: 10px;
}

.next-6-days__title {
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.next-6-days__container {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.next-6-days__blocks {
    padding: 14px 0;
    width: 13%;
    border-radius: 5px;
    background-color: rgb(153, 179, 201, 0.35);
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(31, 38, 135, 0.37);
}

.next-6-days__image {
    width: 54px;
    height: 54px;
}